section.wrapper-hightlight-primary#features(data-section)
	div.container.container-strict
		div.row
			div.col-xs-12.col-indent
				h2.content-layout.content-layout-reset-xs Everywhere
				p.content-layout.content-layout-reset-xs.text-emphasized Android, iOS, Mac, PC, Web... work everywhere you want to. You’ll be always ready with our responsive web app and iOS and Android app.

			div.col-xs-12
				ul.list-devices
					li.device-phone
						div.device-phone-media
						h3.h5.list-heading.text-bold Mobile Apps
						p iOS, Android

					li.device-desktop
						div.device-desktop-media
						h3.h5.list-heading.text-bold Desktop App
						p Mac, PC

					li.device-tablet
						div.device-tablet-media
						h3.h5.list-heading.text-bold Web App
						p Responsive website
