section.wrapper
	div.container
		div.row
			div.col-xs-12.col-indent
				ul.list-features
					li
						div.searching-media
						h3.h4.list-heading Smart Search
						p.text-utility Search through all your messages, contacts and tasks. We have the most powerful search.

					li
						div.messaging-media
						h3.h4.list-heading Instant Messaging
						p.text-utility Don't jump from emails to sms and then to company messenger. All in Posli.

					li
						div.sharing-media
						h3.h4.list-heading File sharing
						p.text-utility Send files to your team mates. Images, videos, sound, everthing you want.
