footer(data-section)#sign-up(role="contentinfo")
	div.container
		div.row
			div.col-xs-12
				h2.h1.content-layout Sign up for beta

				div.mod-flexbox
					div.flexbox-element
						form.form(data-form-submit, action="#")
							div.controls.control-with-btn
								input.form-control(type="email", name="email", data-form-email, required ,placeholder="Your email")
								input(type="submit", value="Request", data-form-btn).btn-primary

							div.mod-share
								p.note 
									| You’ve signed up, we love you for that! 
									br
									| Tell your friends about it. 

					div.flexbox-element
						div.col-indent
							p.content-layout Sign Up for beta right now and be one of the firsts. With Posli you fix your workflow and become more efficient.

			div.col-xs-12.col-indent
				ul.list-social
					li Share on
					li
						a(href="#", title="Link to facebook page")
							div.icon-facebook

					li
						a(href="#", title="Link to twitter page")		
							div.icon-twitter
