header
	div.container.content-layout
		img.media-logo(src="images/logo@2x.png", alt="Posli logo")
		h1.h3 Posli, advanced team messaging with to-do functionality.

		form.form(data-form-submit, action="#")
			div.controls.control-with-btn
				input.form-control.form-control-large(type="email", name="email", data-form-email, required ,placeholder="Input Email for Beta")
				input(type="submit", value="Request", data-form-btn).btn-primary.btn-large

			div.mod-share
				p.share-note.hidden-xs.visible-sm
					| You’ve signed up, we love you for that! Tell your friends about it. 

				a.btn-secondary.btn-small(href="http://www.facebook.com/sharer/sharer.php?u=#url", target="_blank") Link to Facebook
				a.btn-primary.btn-small(href="https://twitter.com/share", target="_blank") Link to Twitter

				p.share-note.visible-xs.hidden-sm
					| You’ve signed up, we love you for that! Tell your friends about it. 

	div.nav-container(data-nav-primary)
		nav.nav-primary(role="navigation")
			a(href="#top")
				div.nav-logo

			ul(role="menu")
				li(role="menuitem"): a(href="#about") About
				li(role="menuitem"): a(href="#features") Features
				li(role="menuitem"): a(href="#sign-up") Sign up
