doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(charset="utf-8")
		meta(name="description", content="STRV TEST")
		meta(name="keywords", content="HTML,CSS,JavaScript")
		meta(name="author", content="Martin Rosenberg")
		link(href="stylesheets/site.css", type="text/css", rel="stylesheet")
		link(rel="icon", type="image/png", href="images/favicon.png")
		title Posli - advanced team messaging with to-do functionality
		
	body#top
		block mainContent

		script(src="http://code.jquery.com/jquery-1.11.0.min.js")
		script(src="scripts/library/modernizr.js")

		script(src="scripts/custom/app.js")
