div.wrapper-hightlight-secondary
	div.container
		div.row
			div.col-xs-12.col-md-5.pull-right.col-indent
				div.mod-tasks
					h2 Task Management
					p Give tasks directly through instant messaging and solve them in one time. Don't jump between messengeres and task manageres, stay productive in Posli.

			div.col-xs-12.col-md-7
				img.media-iphone(src="images/device-iphone@2x.png", alt="iPhone device")