section.wrapper-hightlight-secondary
	div.container.container-flexible
		div.row.row-flexible
			div.col-xs-12.col-sm-6.pull-right-sm
				div.mod-tasks.content-indent-xs
					h2.content-layout-md.content-layout-reset-xs Task Management
					p Give tasks directly through instant messaging and solve them in one time. Don't jump between messengeres and task manageres, stay productive in Posli.

			div.col-xs-12.col-sm-6.pull-right-sm
				img.media-iphone(src="images/device-iphone@2x.png", alt="iPhone device")

