section#about.wrapper(data-section)
	div.container
		div.row
			div.col-xs-12.col-sm-5.col-indent
				div.mod-about
					h2 What is Posli
					p Posli is platform that combines the best of instant messaging and task-list management and improves your everyday workflow with simple but efficient user interface.
					a.btn-primary.content-push(href="#sign-up", data-in-doc-link) Get in line
			div.col-xs-12.col-sm-7
				img.media-laptop(src="images/laptop@2x.png", alt="Laptop")