extends _master-page

block mainContent
	include _header

	div.content(role="main")
		include _what-is-posli
		include _everywhere
		include _task-management
		include _features

		include _footer
