$local-controls-border-radius: $border-radius
$local-controls-font-size: 15px
$local-controls-font-size-xs: 14px

=form-control-large
	padding: 15px 25px 11px 25px
	min-height: 48px

=form-control-small
	padding: 2px 10px 0 10px
	min-width: 0
	min-height: 40px

input[type="submit"]
	font-family: $font-family-base
	-webkit-appearance: none
	-webkit-border-radius: 0 
	border-radius: 0
	border: 0

.form
	position: relative
	text-align: center

form.is-failed
	.controls
		+transition(opacity ease-in-out 0.2s)
		opacity: 1
		z-index: 10
		font-weight: bold

		.form-control
			+transition(background ease-in-out 0.2s)
			color: #dc0808

			+input-placeholder
				color: #8d9ea4

	+at-breakpoint(xs)
		.controls
			font-weight: normal

			.form-control
				background-color: transparent
				border: 1px solid #fff
				border-right: none
				color: #ff6666

				&:focus
					color: #ff6666

				+input-placeholder
					color: #fff

form.is-submitted
	.controls
		display: none

	.mod-share
		+transition(opacity ease-in-out 0.2s)
		opacity: 1
		z-index: 10

.controls
	position: relative
	z-index: 10

	.form-control
		+transition(all ease-in-out 0.2s)
		+border-radius($local-controls-border-radius)
		+box-sizing(border-box)
		font-family: $font-family-base
		padding: 15px 25px 11px 25px
		min-width: 330px
		min-height: 46px
		line-height: 1em
		font-size: $local-controls-font-size
		border: none
		outline: none
		color: #414647
		border: 1px solid transparent
		border-right: none

		&:focus
			color: #414647

		&.form-control-large
			+form-control-large

		+input-placeholder
			line-height: 1em
			color: #8d9ea4

		+at-breakpoint(xs)
			font-size: $local-controls-font-size-xs

			&,
			&.form-control-large
				+form-control-small

			&:focus
				background-color: transparent
				color: #fff
				border: 1px solid #fff
				border-right: none

				+input-placeholder
					color: #fff	

	&.control-with-btn
		max-width: 100%
		display: inline-block

		.form-control,
		.btn-primary
			float: left
			margin-top: 0
			margin-right: 0

		.form-control
			+border-radius($local-controls-border-radius 0 0 $local-controls-border-radius)

		.form-control + .btn-primary
			margin: 0
			+border-radius(0 $local-controls-border-radius $local-controls-border-radius 0)

		+at-breakpoint(xs)
			width: 100%

			.form-control
				width: calc(100% - 74px)



