.mod-share
	opacity: 0
	position: absolute
	top: 0
	right: 0
	left: 0
	z-index: 5
	text-align: center

	a + a
		margin-left: 10px

	.share-note
		padding: 10px 0 5px 0
		font-size: 16px
		line-height: 1.3em
		color: rgba(#fff, 0.6)

	.is-submitted &
		position: relative

	+at-breakpoint(xs)
		.note
			font-size: 14px

.mod-about
	margin-top: 100px

	+at-breakpoint(sm)
		margin-top: 50px

	+at-breakpoint(xs)
		margin-top: 0

		.btn-primary
			display: none

.mod-tasks
	margin-top: 220px

	+at-breakpoint(sm)
		margin-top: 100px

	+at-breakpoint(xs)
		margin-top: 0
	