@font-face {
  font-family: "Museo";
  src: url("../fonts/Museo300-Regular-webfont.eot");
  src: url("../fonts/Museo300-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo300-Regular-webfont.woff2") format("woff2"), url("../fonts/Museo300-Regular-webfont.woff") format("woff"), url("../fonts/Museo300-Regular-webfont.ttf") format("truetype"), url("../fonts/Museo300-Regular-webfont.svg#museo_slab300") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "Museo";
  src: url("../fonts/Museo500-Regular-webfont.eot");
  src: url("../fonts/Museo500-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo500-Regular-webfont.woff2") format("woff2"), url("../fonts/Museo500-Regular-webfont.woff") format("woff"), url("../fonts/Museo500-Regular-webfont.ttf") format("truetype"), url("../fonts/Museo500-Regular-webfont.svg#museo_slab500") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Museo";
  src: url("../fonts/Museo700-Regular-webfont.eot");
  src: url("../fonts/Museo700-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo700-Regular-webfont.woff2") format("woff2"), url("../fonts/Museo700-Regular-webfont.woff") format("woff"), url("../fonts/Museo700-Regular-webfont.ttf") format("truetype"), url("../fonts/Museo700-Regular-webfont.svg#museo_slab700") format("svg");
  font-weight: bold;
  font-style: normal; }
html {
  font-family: "Museo", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  font-size: 18px; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    html {
      font-size: 16px; } }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0; }

h1,
.h1 {
  font-size: 34px;
  font-weight: normal !important; }

h2,
.h2 {
  font-size: 32px;
  font-weight: bold; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    h2,
    .h2 {
      font-size: 21px; } }

h3,
.h3 {
  font-size: 28px;
  font-weight: bold; }

h4,
.h4 {
  font-size: 24px; }

h5,
.h5 {
  font-size: 20px; }

h6,
.h6 {
  font-size: 16px; }

.text-subheaded {
  margin-bottom: 12px; }

p {
  max-width: 700px;
  margin: 0 auto;
  line-height: 1.8em;
  font-weight: 300; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    p {
      line-height: 1.7em; } }

.text-emphasized {
  font-size: 19px;
  line-height: 1.5em; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .text-emphasized {
      font-size: 16px; } }

.text-utility {
  font-size: 16px; }

.text-bold {
  font-weight: bold; }

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  *zoom: 1; }
  @media (min-width: 768px) {
    .container {
      width: 740px; } }
  @media (min-width: 992px) {
    .container {
      width: 960px; } }
  @media (min-width: 1280px) {
    .container {
      width: 1160px; } }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  *zoom: 1; }

.row {
  margin-left: -10px;
  margin-right: -10px;
  overflow: hidden;
  *zoom: 1; }

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px; }

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left; }

.col-xs-1 {
  width: 8.3333333333%; }

.col-xs-2 {
  width: 16.6666666667%; }

.col-xs-3 {
  width: 25%; }

.col-xs-4 {
  width: 33.3333333333%; }

.col-xs-5 {
  width: 41.6666666667%; }

.col-xs-6 {
  width: 50%; }

.col-xs-7 {
  width: 58.3333333333%; }

.col-xs-8 {
  width: 66.6666666667%; }

.col-xs-9 {
  width: 75%; }

.col-xs-10 {
  width: 83.3333333333%; }

.col-xs-11 {
  width: 91.6666666667%; }

.col-xs-12 {
  width: 100%; }

.col-xs-pull-0 {
  right: auto; }

.col-xs-pull-1 {
  right: 8.3333333333%; }

.col-xs-pull-2 {
  right: 16.6666666667%; }

.col-xs-pull-3 {
  right: 25%; }

.col-xs-pull-4 {
  right: 33.3333333333%; }

.col-xs-pull-5 {
  right: 41.6666666667%; }

.col-xs-pull-6 {
  right: 50%; }

.col-xs-pull-7 {
  right: 58.3333333333%; }

.col-xs-pull-8 {
  right: 66.6666666667%; }

.col-xs-pull-9 {
  right: 75%; }

.col-xs-pull-10 {
  right: 83.3333333333%; }

.col-xs-pull-11 {
  right: 91.6666666667%; }

.col-xs-pull-12 {
  right: 100%; }

.col-xs-push-0 {
  left: auto; }

.col-xs-push-1 {
  left: 8.3333333333%; }

.col-xs-push-2 {
  left: 16.6666666667%; }

.col-xs-push-3 {
  left: 25%; }

.col-xs-push-4 {
  left: 33.3333333333%; }

.col-xs-push-5 {
  left: 41.6666666667%; }

.col-xs-push-6 {
  left: 50%; }

.col-xs-push-7 {
  left: 58.3333333333%; }

.col-xs-push-8 {
  left: 66.6666666667%; }

.col-xs-push-9 {
  left: 75%; }

.col-xs-push-10 {
  left: 83.3333333333%; }

.col-xs-push-11 {
  left: 91.6666666667%; }

.col-xs-push-12 {
  left: 100%; }

.col-xs-offset-0 {
  margin-left: 0%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left; }

  .col-sm-1 {
    width: 8.3333333333%; }

  .col-sm-2 {
    width: 16.6666666667%; }

  .col-sm-3 {
    width: 25%; }

  .col-sm-4 {
    width: 33.3333333333%; }

  .col-sm-5 {
    width: 41.6666666667%; }

  .col-sm-6 {
    width: 50%; }

  .col-sm-7 {
    width: 58.3333333333%; }

  .col-sm-8 {
    width: 66.6666666667%; }

  .col-sm-9 {
    width: 75%; }

  .col-sm-10 {
    width: 83.3333333333%; }

  .col-sm-11 {
    width: 91.6666666667%; }

  .col-sm-12 {
    width: 100%; }

  .col-sm-pull-0 {
    right: auto; }

  .col-sm-pull-1 {
    right: 8.3333333333%; }

  .col-sm-pull-2 {
    right: 16.6666666667%; }

  .col-sm-pull-3 {
    right: 25%; }

  .col-sm-pull-4 {
    right: 33.3333333333%; }

  .col-sm-pull-5 {
    right: 41.6666666667%; }

  .col-sm-pull-6 {
    right: 50%; }

  .col-sm-pull-7 {
    right: 58.3333333333%; }

  .col-sm-pull-8 {
    right: 66.6666666667%; }

  .col-sm-pull-9 {
    right: 75%; }

  .col-sm-pull-10 {
    right: 83.3333333333%; }

  .col-sm-pull-11 {
    right: 91.6666666667%; }

  .col-sm-pull-12 {
    right: 100%; }

  .col-sm-push-0 {
    left: auto; }

  .col-sm-push-1 {
    left: 8.3333333333%; }

  .col-sm-push-2 {
    left: 16.6666666667%; }

  .col-sm-push-3 {
    left: 25%; }

  .col-sm-push-4 {
    left: 33.3333333333%; }

  .col-sm-push-5 {
    left: 41.6666666667%; }

  .col-sm-push-6 {
    left: 50%; }

  .col-sm-push-7 {
    left: 58.3333333333%; }

  .col-sm-push-8 {
    left: 66.6666666667%; }

  .col-sm-push-9 {
    left: 75%; }

  .col-sm-push-10 {
    left: 83.3333333333%; }

  .col-sm-push-11 {
    left: 91.6666666667%; }

  .col-sm-push-12 {
    left: 100%; }

  .col-sm-offset-0 {
    margin-left: 0%; }

  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }

  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .col-sm-offset-3 {
    margin-left: 25%; }

  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .col-sm-offset-6 {
    margin-left: 50%; }

  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .col-sm-offset-9 {
    margin-left: 75%; }

  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .col-sm-offset-12 {
    margin-left: 100%; } }
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left; }

  .col-md-1 {
    width: 8.3333333333%; }

  .col-md-2 {
    width: 16.6666666667%; }

  .col-md-3 {
    width: 25%; }

  .col-md-4 {
    width: 33.3333333333%; }

  .col-md-5 {
    width: 41.6666666667%; }

  .col-md-6 {
    width: 50%; }

  .col-md-7 {
    width: 58.3333333333%; }

  .col-md-8 {
    width: 66.6666666667%; }

  .col-md-9 {
    width: 75%; }

  .col-md-10 {
    width: 83.3333333333%; }

  .col-md-11 {
    width: 91.6666666667%; }

  .col-md-12 {
    width: 100%; }

  .col-md-pull-0 {
    right: auto; }

  .col-md-pull-1 {
    right: 8.3333333333%; }

  .col-md-pull-2 {
    right: 16.6666666667%; }

  .col-md-pull-3 {
    right: 25%; }

  .col-md-pull-4 {
    right: 33.3333333333%; }

  .col-md-pull-5 {
    right: 41.6666666667%; }

  .col-md-pull-6 {
    right: 50%; }

  .col-md-pull-7 {
    right: 58.3333333333%; }

  .col-md-pull-8 {
    right: 66.6666666667%; }

  .col-md-pull-9 {
    right: 75%; }

  .col-md-pull-10 {
    right: 83.3333333333%; }

  .col-md-pull-11 {
    right: 91.6666666667%; }

  .col-md-pull-12 {
    right: 100%; }

  .col-md-push-0 {
    left: auto; }

  .col-md-push-1 {
    left: 8.3333333333%; }

  .col-md-push-2 {
    left: 16.6666666667%; }

  .col-md-push-3 {
    left: 25%; }

  .col-md-push-4 {
    left: 33.3333333333%; }

  .col-md-push-5 {
    left: 41.6666666667%; }

  .col-md-push-6 {
    left: 50%; }

  .col-md-push-7 {
    left: 58.3333333333%; }

  .col-md-push-8 {
    left: 66.6666666667%; }

  .col-md-push-9 {
    left: 75%; }

  .col-md-push-10 {
    left: 83.3333333333%; }

  .col-md-push-11 {
    left: 91.6666666667%; }

  .col-md-push-12 {
    left: 100%; }

  .col-md-offset-0 {
    margin-left: 0%; }

  .col-md-offset-1 {
    margin-left: 8.3333333333%; }

  .col-md-offset-2 {
    margin-left: 16.6666666667%; }

  .col-md-offset-3 {
    margin-left: 25%; }

  .col-md-offset-4 {
    margin-left: 33.3333333333%; }

  .col-md-offset-5 {
    margin-left: 41.6666666667%; }

  .col-md-offset-6 {
    margin-left: 50%; }

  .col-md-offset-7 {
    margin-left: 58.3333333333%; }

  .col-md-offset-8 {
    margin-left: 66.6666666667%; }

  .col-md-offset-9 {
    margin-left: 75%; }

  .col-md-offset-10 {
    margin-left: 83.3333333333%; }

  .col-md-offset-11 {
    margin-left: 91.6666666667%; }

  .col-md-offset-12 {
    margin-left: 100%; } }
@media (min-width: 1280px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left; }

  .col-lg-1 {
    width: 8.3333333333%; }

  .col-lg-2 {
    width: 16.6666666667%; }

  .col-lg-3 {
    width: 25%; }

  .col-lg-4 {
    width: 33.3333333333%; }

  .col-lg-5 {
    width: 41.6666666667%; }

  .col-lg-6 {
    width: 50%; }

  .col-lg-7 {
    width: 58.3333333333%; }

  .col-lg-8 {
    width: 66.6666666667%; }

  .col-lg-9 {
    width: 75%; }

  .col-lg-10 {
    width: 83.3333333333%; }

  .col-lg-11 {
    width: 91.6666666667%; }

  .col-lg-12 {
    width: 100%; }

  .col-lg-pull-0 {
    right: auto; }

  .col-lg-pull-1 {
    right: 8.3333333333%; }

  .col-lg-pull-2 {
    right: 16.6666666667%; }

  .col-lg-pull-3 {
    right: 25%; }

  .col-lg-pull-4 {
    right: 33.3333333333%; }

  .col-lg-pull-5 {
    right: 41.6666666667%; }

  .col-lg-pull-6 {
    right: 50%; }

  .col-lg-pull-7 {
    right: 58.3333333333%; }

  .col-lg-pull-8 {
    right: 66.6666666667%; }

  .col-lg-pull-9 {
    right: 75%; }

  .col-lg-pull-10 {
    right: 83.3333333333%; }

  .col-lg-pull-11 {
    right: 91.6666666667%; }

  .col-lg-pull-12 {
    right: 100%; }

  .col-lg-push-0 {
    left: auto; }

  .col-lg-push-1 {
    left: 8.3333333333%; }

  .col-lg-push-2 {
    left: 16.6666666667%; }

  .col-lg-push-3 {
    left: 25%; }

  .col-lg-push-4 {
    left: 33.3333333333%; }

  .col-lg-push-5 {
    left: 41.6666666667%; }

  .col-lg-push-6 {
    left: 50%; }

  .col-lg-push-7 {
    left: 58.3333333333%; }

  .col-lg-push-8 {
    left: 66.6666666667%; }

  .col-lg-push-9 {
    left: 75%; }

  .col-lg-push-10 {
    left: 83.3333333333%; }

  .col-lg-push-11 {
    left: 91.6666666667%; }

  .col-lg-push-12 {
    left: 100%; }

  .col-lg-offset-0 {
    margin-left: 0%; }

  .col-lg-offset-1 {
    margin-left: 8.3333333333%; }

  .col-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .col-lg-offset-3 {
    margin-left: 25%; }

  .col-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .col-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .col-lg-offset-6 {
    margin-left: 50%; }

  .col-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .col-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .col-lg-offset-9 {
    margin-left: 75%; }

  .col-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .col-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .col-lg-offset-12 {
    margin-left: 100%; } }
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.container-flexible,
.row-flexible {
  overflow: visible; }

html,
body {
  overflow-x: hidden; }

body {
  margin: 0; }

header {
  background-image: url("../images/banner@2x.jpg");
  background-size: cover;
  background-position: 0 100%;
  background-repeat: no-repeat;
  position: relative;
  min-height: 645px;
  background-color: #ccc; }
  header h1.h3 {
    padding: 0;
    max-width: 700px;
    margin: 25px auto 0 auto;
    color: #fff; }
  header .form.is-submitted {
    margin-bottom: 40px; }
  header .controls {
    margin-top: 25px; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    header {
      min-height: 560px;
      background-position: 20% 100%; }
      header h1.h3 {
        margin-bottom: 10px;
        font-size: 21px; }
      header .mod-share .btn-small {
        padding-top: 15px;
        min-height: 44px; } }

footer {
  padding-top: 125px;
  padding-bottom: 75px;
  background-color: #243139;
  color: #fff; }
  footer h2 {
    margin-bottom: 40px; }
  footer .form.is-submitted {
    margin-bottom: 20px; }
  footer .footer-note {
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    footer {
      padding-top: 60px;
      padding-bottom: 50px; }
      footer h2.h1 {
        font-size: 21px;
        margin-bottom: 20px; }
      footer .form,
      footer .form.is-submitted {
        margin-bottom: 20px; }
      footer .mod-share {
        text-align: left;
        padding-left: 30px;
        padding-right: 30px; }
      footer .footer-note,
      footer .social-note {
        text-align: left; }
      footer .footer-note {
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0 30px; } }

.banner {
  text-align: center; }

.wrapper {
  padding: 150px 0; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .wrapper {
      padding: 50px 0; } }

.wrapper-hightlight-primary {
  padding-top: 105px;
  padding-bottom: 125px;
  background-color: #2ebcea;
  color: #fff; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .wrapper-hightlight-primary {
      padding-top: 50px;
      padding-bottom: 65px; } }

.wrapper-hightlight-secondary {
  background-color: #f6f9fa;
  overflow-y: hidden; }
  @media only screen and (max-width: 991px) {
    .wrapper-hightlight-secondary {
      padding-top: 50px;
      padding-bottom: 0; } }

.content-layout {
  text-align: center; }

@media only screen and (max-width: 991px) {
  .content-layout-sm {
    text-align: center; } }
@media only screen and (max-width: 1279px) {
  .content-layout-sm {
    text-align: center; } }
@media only screen and (min-width: 0) and (max-width: 767px) {
  .content-layout-reset-xs {
    text-align: left; } }
.content-indent {
  padding-left: 30px;
  padding-right: 30px; }

@media only screen and (min-width: 0) and (max-width: 767px) {
  .content-indent-xs {
    padding-left: 30px;
    padding-right: 30px; } }
.content-aside {
  text-align: right; }

.content-push {
  margin-top: 35px; }

.media-laptop {
  width: 750px;
  margin-left: 50px; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .media-laptop {
      width: 100%;
      height: 100%;
      margin-top: 50px;
      margin-left: 0; } }

.media-iphone {
  display: block;
  margin-top: -235px;
  margin-left: -30px;
  width: 380px;
  max-width: 380px; }
  @media only screen and (max-width: 991px) {
    .media-iphone {
      max-width: 300px; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .media-iphone {
      margin-top: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: -150px;
      width: 100%;
      height: 100%;
      max-width: 250px; } }

.media-logo {
  margin-top: 150px;
  height: 135px; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .media-logo {
      height: 100px;
      margin-top: 90px; } }

.mod-share {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
  text-align: center; }
  .mod-share a + a {
    margin-left: 10px; }
  .mod-share .share-note {
    padding: 10px 0 5px 0;
    font-size: 16px;
    line-height: 1.3em;
    color: rgba(255, 255, 255, 0.6); }
  .is-submitted .mod-share {
    position: relative; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .mod-share .note {
      font-size: 14px; } }

.mod-about {
  margin-top: 100px; }
  @media only screen and (max-width: 991px) {
    .mod-about {
      margin-top: 50px; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .mod-about {
      margin-top: 0; }
      .mod-about .btn-primary {
        display: none; } }

.mod-tasks {
  margin-top: 220px; }
  @media only screen and (max-width: 991px) {
    .mod-tasks {
      margin-top: 100px; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .mod-tasks {
      margin-top: 0; } }

.btn-primary {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  font-size: 15px;
  padding: 16px 35px 13px 35px;
  min-height: 46px;
  line-height: 1em;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #2ebcea;
  color: #fff; }
  .btn-primary:hover {
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .btn-primary.btn-large {
    padding: 17px 35px 14px 35px;
    min-height: 48px; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .btn-primary.btn-large {
        padding: 13px 10px 12px 10px;
        min-height: 40px; } }
  .btn-primary.btn-small {
    padding: 14px 32px 11px 32px;
    min-height: 40px; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .btn-primary.btn-small {
        padding: 13px;
        min-height: 40px; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .btn-primary {
      padding: 13px 10px 12px 10px;
      min-height: 40px;
      font-size: 14px; } }
  .btn-primary:hover {
    background-color: #59cdf2; }
  .btn-primary:active {
    background-color: #0090be; }

.btn-secondary {
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  display: inline-block;
  font-size: 15px;
  padding: 16px 35px 13px 35px;
  min-height: 46px;
  line-height: 1em;
  text-decoration: none;
  cursor: pointer;
  font-weight: bold;
  background-color: #3563e7;
  color: #fff; }
  .btn-secondary:hover {
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out; }
  .btn-secondary.btn-large {
    padding: 17px 35px 14px 35px;
    min-height: 48px; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .btn-secondary.btn-large {
        padding: 13px 10px 12px 10px;
        min-height: 40px; } }
  .btn-secondary.btn-small {
    padding: 14px 32px 11px 32px;
    min-height: 40px; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .btn-secondary.btn-small {
        padding: 13px;
        min-height: 40px; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .btn-secondary {
      padding: 13px 10px 12px 10px;
      min-height: 40px;
      font-size: 14px; } }
  .btn-secondary:hover {
    background-color: #5a80ee; }

.btn-special:hover {
  padding: 16px 33px 13px 30px; }

.nav-container {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); }

.nav-primary {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  *zoom: 1;
  text-align: center; }
  @media (min-width: 768px) {
    .nav-primary {
      width: 740px; } }
  @media (min-width: 992px) {
    .nav-primary {
      width: 960px; } }
  @media (min-width: 1280px) {
    .nav-primary {
      width: 1160px; } }
  .nav-primary ul {
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    padding: 0;
    margin: 0;
    font-size: 15px; }
  .nav-primary li {
    display: inline-block;
    position: relative;
    margin: 0 20px; }
    .nav-primary li:first-child {
      margin-left: 0; }
    .nav-primary li:last-child {
      margin-right: 0; }
    .nav-primary li a {
      display: inline-block;
      height: 70px;
      line-height: 70px;
      padding: 0 20px;
      text-decoration: none;
      color: #fff; }
      .nav-primary li a:after {
        content: "";
        display: block;
        opacity: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 5px;
        background-color: #2ebcea; }
      .nav-primary li a.is-active, .no-touch .nav-primary li a:hover {
        color: #fff; }
        .nav-primary li a.is-active:after, .no-touch .nav-primary li a:hover:after {
          opacity: 1; }
  .nav-primary .nav-logo {
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    position: absolute;
    top: calc(50% - 17px);
    width: 95px;
    height: 35px;
    opacity: 0;
    background-image: url("../images/nav-logo@2x.png");
    background-size: cover; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .nav-primary {
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      width: auto;
      padding: 0; }
      .nav-primary li {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        width: 33.3%;
        margin: 0; }
        .nav-primary li a {
          width: 100%;
          padding: 0; }
        .nav-primary li .nav-logo {
          display: none; } }

.nav-container.is-fixed {
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  bottom: auto;
  z-index: 999; }
  .nav-container.is-fixed ul {
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-align: right;
    font-size: 14px; }
  .nav-container.is-fixed li {
    margin: 0 15px; }
    .nav-container.is-fixed li:first-child {
      margin-left: 0; }
    .nav-container.is-fixed li:last-child {
      margin-right: 0; }
    .nav-container.is-fixed li a {
      padding: 0 10px;
      height: 65px;
      line-height: 65px; }
  .nav-container.is-fixed .nav-logo {
    -moz-transition: opacity 0.2s ease-in;
    -o-transition: opacity 0.2s ease-in;
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    opacity: 1; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .nav-container.is-fixed {
      position: absolute;
      top: auto;
      bottom: 0; }
      .nav-container.is-fixed ul {
        text-align: center;
        font-size: 15px; }
      .nav-container.is-fixed li {
        margin: 0; }
        .nav-container.is-fixed li a {
          padding: 0;
          height: 70px;
          line-height: 70px; }
      .nav-container.is-fixed .nav-logo {
        display: none; } }

.list-devices,
.list-features {
  margin: 0;
  padding: 0;
  list-style: none; }
  .list-devices li,
  .list-features li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    float: left;
    width: 33%;
    text-align: center;
    padding: 0 45px; }
    .list-devices li:first-child,
    .list-features li:first-child {
      padding-left: 0; }
    .list-devices li:last-child,
    .list-features li:last-child {
      padding-right: 0; }

.list-devices {
  margin-top: 70px; }
  .list-devices .device-phone-media,
  .list-devices .device-desktop-media,
  .list-devices .device-tablet-media {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50% 100%;
    min-height: 210px;
    margin: 0 auto;
    max-width: 100%;
    width: 100%; }
  .list-devices .device-phone-media {
    background-image: url("../images/device-phone@2x.jpg"); }
  .list-devices .device-desktop-media {
    background-image: url("../images/device-desktop@2x.jpg"); }
  .list-devices .device-tablet-media {
    background-image: url("../images/device-tablet@2x.jpg"); }
  .list-devices .list-heading {
    margin-top: 50px;
    margin-bottom: 5px; }
  @media only screen and (max-width: 1279px) {
    .list-devices li {
      padding: 0 30px; }
    .list-devices .device-phone-media,
    .list-devices .device-desktop-media,
    .list-devices .device-tablet-media {
      min-height: 200px; } }
  @media only screen and (max-width: 991px) {
    .list-devices li {
      padding: 0 20px; }
    .list-devices .device-phone-media,
    .list-devices .device-desktop-media,
    .list-devices .device-tablet-media {
      min-height: 180px; } }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .list-devices {
      width: 702px; }
      .list-devices li {
        width: 234px;
        margin: 0;
        padding-left: 5px;
        padding-right: 5px; }
      .list-devices .device-desktop {
        padding-left: 10px;
        padding-right: 10px; }
      .list-devices .device-phone-media,
      .list-devices .device-desktop-media,
      .list-devices .device-tablet-media {
        min-height: 180px; }
      .list-devices .list-heading {
        font-size: 16px; } }

.list-features .searching-media,
.list-features .messaging-media,
.list-features .sharing-media {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  min-height: 100px; }
.list-features .searching-media {
  background-image: url("../images/icon-magnifier@2x.jpg"); }
.list-features .messaging-media {
  background-image: url("../images/icon-chat@2x.jpg"); }
.list-features .sharing-media {
  background-image: url("../images/icon-file@2x.jpg"); }
.list-features .list-heading {
  color: #060606;
  margin-top: 50px;
  margin-bottom: 20px; }
@media only screen and (max-width: 991px) {
  .list-features .searching-media,
  .list-features .messaging-media,
  .list-features .sharing-media {
    min-height: 70px; } }
@media only screen and (max-width: 991px) {
  .list-features li {
    padding: 0 25px; } }
@media only screen and (min-width: 0) and (max-width: 767px) {
  .list-features li {
    float: none;
    width: 100%;
    padding: 0;
    text-align: left;
    margin-bottom: 35px; }
  .list-features .searching-media,
  .list-features .messaging-media,
  .list-features .sharing-media {
    background-size: contain;
    background-position: 0 0;
    min-height: 35px; }
  .list-features .list-heading {
    font-size: 21px;
    margin-top: 10px;
    margin-bottom: 10px; } }

.list-social {
  display: table;
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 0; }
  .list-social li {
    display: table-cell;
    vertical-align: middle;
    padding-left: 10px; }
    .list-social li:first-child {
      padding-left: 0; }
  .list-social .icon-facebook,
  .list-social .icon-twitter {
    width: 50px;
    height: 50px;
    background-image: url("../images/icons-map.jpg");
    background-repeat: no-repeat;
    background-size: 100px 100px; }
  .list-social .icon-facebook {
    background-position: 0 0; }
    .list-social .icon-facebook:hover {
      background-position: 0 -50px; }
  .list-social .icon-twitter {
    background-position: -50px 0; }
    .list-social .icon-twitter:hover {
      background-position: -50px -50px; }
  @media only screen and (min-width: 0) and (max-width: 767px) {
    .list-social {
      margin: 0 auto; } }

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0; }
.clearfix:after {
  clear: both; }

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.pull-right-xs {
  float: right; }

.pull-left-xs {
  float: left; }

.hidden-xs {
  display: none; }

.visible-xs {
  display: block; }

@media only screen and (min-width: 768px) {
  .pull-right-sm {
    float: right; }

  .pull-left-sm {
    float: left; }

  .hidden-sm {
    display: none; }

  .visible-sm {
    display: block; } }
@media only screen and (min-width: 992px) {
  .pull-right-md {
    float: right; }

  .pull-left-md {
    float: left; }

  .hidden-md {
    display: none; }

  .visible-md {
    display: block; } }
@media only screen and (min-width: 1280px) {
  .pull-right-lg {
    float: right; }

  .pull-left-lg {
    float: left; }

  .hidden-lg {
    display: none; }

  .visible-lg {
    display: block; } }
input[type="submit"] {
  font-family: "Museo", Helvetica, sans-serif;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: 0; }

.form {
  position: relative;
  text-align: center; }

form.is-failed .controls {
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  z-index: 10;
  font-weight: bold; }
  form.is-failed .controls .form-control {
    -moz-transition: background 0.2s ease-in-out;
    -o-transition: background 0.2s ease-in-out;
    -webkit-transition: background 0.2s ease-in-out;
    transition: background 0.2s ease-in-out;
    color: #dc0808; }
    form.is-failed .controls .form-control::-webkit-input-placeholder {
      color: #8d9ea4; }
    form.is-failed .controls .form-control::-moz-placeholder {
      color: #8d9ea4; }
    form.is-failed .controls .form-control::-ms-input-placeholder {
      color: #8d9ea4; }
    form.is-failed .controls .form-control:-ms-input-placeholder {
      color: #8d9ea4; }
@media only screen and (min-width: 0) and (max-width: 767px) {
  form.is-failed .controls {
    font-weight: normal; }
    form.is-failed .controls .form-control {
      background-color: transparent;
      border: 1px solid #fff;
      border-right: none;
      color: #ff6666; }
      form.is-failed .controls .form-control:focus {
        color: #ff6666; }
      form.is-failed .controls .form-control::-webkit-input-placeholder {
        color: #fff; }
      form.is-failed .controls .form-control::-moz-placeholder {
        color: #fff; }
      form.is-failed .controls .form-control::-ms-input-placeholder {
        color: #fff; }
      form.is-failed .controls .form-control:-ms-input-placeholder {
        color: #fff; } }

form.is-submitted .controls {
  display: none; }
form.is-submitted .mod-share {
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  z-index: 10; }

.controls {
  position: relative;
  z-index: 10; }
  .controls .form-control {
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Museo", Helvetica, sans-serif;
    padding: 15px 25px 11px 25px;
    min-width: 330px;
    min-height: 46px;
    line-height: 1em;
    font-size: 15px;
    border: none;
    outline: none;
    color: #414647;
    border: 1px solid transparent;
    border-right: none; }
    .controls .form-control:focus {
      color: #414647; }
    .controls .form-control.form-control-large {
      padding: 15px 25px 11px 25px;
      min-height: 48px; }
    .controls .form-control::-webkit-input-placeholder {
      line-height: 1em;
      color: #8d9ea4; }
    .controls .form-control::-moz-placeholder {
      line-height: 1em;
      color: #8d9ea4; }
    .controls .form-control::-ms-input-placeholder {
      line-height: 1em;
      color: #8d9ea4; }
    .controls .form-control:-ms-input-placeholder {
      line-height: 1em;
      color: #8d9ea4; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .controls .form-control {
        font-size: 14px; }
        .controls .form-control, .controls .form-control.form-control-large {
          padding: 2px 10px 0 10px;
          min-width: 0;
          min-height: 40px; }
        .controls .form-control:focus {
          background-color: transparent;
          color: #fff;
          border: 1px solid #fff;
          border-right: none; }
          .controls .form-control:focus::-webkit-input-placeholder {
            color: #fff; }
          .controls .form-control:focus::-moz-placeholder {
            color: #fff; }
          .controls .form-control:focus::-ms-input-placeholder {
            color: #fff; }
          .controls .form-control:focus:-ms-input-placeholder {
            color: #fff; } }
  .controls.control-with-btn {
    max-width: 100%;
    display: inline-block; }
    .controls.control-with-btn .form-control,
    .controls.control-with-btn .btn-primary {
      float: left;
      margin-top: 0;
      margin-right: 0; }
    .controls.control-with-btn .form-control {
      -moz-border-radius: 4px 0 0 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px 0 0 4px; }
    .controls.control-with-btn .form-control + .btn-primary {
      margin: 0;
      -moz-border-radius: 0 4px 4px 0;
      -webkit-border-radius: 0;
      border-radius: 0 4px 4px 0; }
    @media only screen and (min-width: 0) and (max-width: 767px) {
      .controls.control-with-btn {
        width: 100%; }
        .controls.control-with-btn .form-control {
          width: calc(100% - 74px); } }
